<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>旅の本 / TOPページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/template/default/img/common/favicon.ico">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<style>
    body * { display: none; }
</style>
<script>
$(function(){
    var winname = window.name;
    if (winname == 'preview') {
        $('#form').submit();
    } else {
        location.href = "https://www.tabinohon.com/";
    }
});
</script>
</head>
{% block main %}
<body>
<form id="form" action="../canvas/post/{{ pr_id }}" method="post">
<input type="hidden" name="unqid" value="{{ unqid }}">{
</form>
{% endblock %}
</body>
</html>
